.backButton {
  margin-top: 20px;
  margin-bottom: 40px;
  padding-right: 1045px;
  font-size: x-large;
}

.backButtonSize {
  width: 200px;
}

.backButtonStyle {
  font-size: x-large;
}

.errorMessage {
  padding-top: 40px;
  font-size: xxx-large;
}
